* {
    padding: 0;
    margin: 0;
    /* font-family: math; */
    word-spacing: 5px;
}

td {
    align-items: center;
    text-indent: 25px;
}

h1 {
    text-indent: 25px;
    font-weight: bold;
    align-items: center;
}

h3 {
    /* text-indent: 25px; */
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.cycle {
    text-indent: 35%;
    font-weight: bold;
}

td {
    font-weight: bold;
}

.assault table tr{
    display: block;
    margin: 3px 0;
}

.fissues{
    margin: 0 auto;
    text-align: center;
    
}
.fissues h3{
    color: #12AA9C;
}
.fissues .t1{
    margin-bottom: 20px;
    color: #BBAA9D;
}
.fissues .t2{
    margin-bottom: 20px;
    color: #A9A992;
}
.fissues .t3{
    margin-bottom: 20px;
    color: #AFAFAF;
}
.fissues .t4{
    margin-bottom: 20px;
    color: #B29C66;
}
.fissues .t5{
    margin-bottom: 20px;
    color: #591A1C;
}


.card {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}

.card-layer {
    position: relative;
    border-radius: 20px;
    border: 10px;
    border-style: double;
    border-color: #555;
    margin: 10px;
}

.card-layer div {
    background-color: #fffefa;
    border-radius: 20px;
}

.table-s {
    text-align: left;
    width: 100%;
}

.table-s td {
    border: 10px;
}

.auto {
    margin: 0 auto;
    text-align: center;
    color: #555;
}