<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<link th:href="@{/css/index.css}" rel="stylesheet" />
		<title>仲裁</title>
		<style>
			h1 {
				text-align: left;
			}

			ul {
				width: 100;
				text-align: left;
				font-size: 20px;
				list-style-type: none;
			}
			table{
				width: 100%;
				background-color: #fffefa;
			}
			
		</style>
	</head>


	<body>
		<!--
    生成图片的宽度
 -->
		<w>
			1290
		</w>
		<div class="card ">
			
			<div class="card-layer">
				<h1>仲裁</h1>
				<hr />
				<table>
					<tr>
						<td style="text-align: left;">
							<ul>
								<li th:text="${arbit.type}+' - '+${arbit.enemy}"></li>
								<li th:text="${arbit.node}"></li>
								<li th:text="${arbit.etc}"></li>
							</ul>
						</td>
						<td><img th:src="@{'/img/faction/'+${arbit.enemy}+'.png'}" /></td>
					</tr>
				</table>
			</div>
		</div>

	</body>
</html>
