<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link th:href="@{/css/index.css}" rel="stylesheet" />
		<style>
			hr {
				margin: 2px;
			}

			body {
				color: #fff;
				background-color: #122028;
			}

			table {
				width: 100%;
			}

			h2 {
				text-align: left;
			}
		</style>

	</head>
	<body>
		<w>1400</w>
		<div>
			<div class="head-fissues">
				<span th:text="${type == 0 ? '虚空裂隙' : (type == 1 ? '九重天裂隙' : (type == 2 ? '钢铁裂隙' : '')) }"></span>
			</div>
			<hr />
			<div th:each="t:${fiss.T1}">
				<div class="content">
					<table>
						<tr>
							<td><img th:src="@{/img/lith.png}" /></td>
							<td style="text-align: left;">
								<ul>
									<li>
										<span class="task" th:text="${t.missionType} +'-'+ ${t.enemy}"></span>
									</li>
									<li>
										<span class="fissues-type">古纪 裂隙</span>
									</li>
									<li th:text="${t.node}">

									</li>
									<li th:text="${t.eta}"></li>
								</ul>
							</td>
							<td><img th:src="@{'/img/faction/'+${t.enemy}+'.png'}" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div th:each="t:${fiss.T2}">
				<div class="content">
					<table>
						<tr>
							<td><img th:src="@{/img/meso.png}" /></td>
							<td style="text-align: left;">
								<ul>
									<li>
										<span class="task" th:text="${t.missionType} +'-'+ ${t.enemy}"></span>
									</li>
									<li>
										<span class="fissues-type">前纪 裂隙</span>
									</li>
									<li th:text="${t.node}">

									</li>
									<li th:text="${t.eta}"></li>
								</ul>
							</td>
							<td><img th:src="@{'/img/faction/'+${t.enemy}+'.png'}" /></td>
						</tr>
					</table>
				</div>
			</div>
			<div th:each="t:${fiss.T3}">
				<div class="content">
					<table>
						<tr>
							<td><img th:src="@{/img/neo.png}" /></td>
							<td style="text-align: left;">
								<ul>
									<li>
										<span class="task" th:text="${t.missionType} +'-'+ ${t.enemy}"></span>
									</li>
									<li>
										<span class="fissues-type">中纪 裂隙</span>
									</li>
									<li th:text="${t.node}">

									</li>
									<li th:text="${t.eta}"></li>
								</ul>
							</td>
							<td><img th:src="@{'/img/faction/'+${t.enemy}+'.png'}" /></td>
						</tr>
					</table>

				</div>
			</div>
			<div th:each="t:${fiss.T4}">
				<div class="content">
					<table>
						<tr>
							<td><img th:src="@{/img/relics/axi.png}" /></td>
							<td style="text-align: left;">
								<ul>
									<li>
										<span class="task" th:text="${t.missionType} +'-'+ ${t.enemy}"></span>
									</li>
									<li>
										<span class="fissues-type">后纪 裂隙</span>
									</li>
									<li th:text="${t.node}">

									</li>
									<li th:text="${t.eta}"></li>
								</ul>
							</td>
							<td><img th:src="@{'/img/faction/'+${t.enemy}+'.png'}" /></td>
						</tr>
					</table>

				</div>
			</div>
			<div th:each="t:${fiss.T5}">
				<div class="content">
					<table>
						<tr>
							<td><img th:src="@{/img/relics/Lich.png}" /></td>
							<td style="text-align: left;">
								<ul>
									<li>
										<span class="task" th:text="${t.missionType} +'-'+ ${t.enemy}"></span>
									</li>
									<li>
										<span class="fissues-type">安魂 裂隙</span>
									</li>
									<li th:text="${t.node}">

									</li>
									<li th:text="${t.eta}"></li>
								</ul>
							</td>
							<td><img th:src="@{'/img/faction/'+${t.enemy}+'.png'}" /></td>
						</tr>
					</table>
				</div>
			</div>

		</div>

	</body>
</html>
