<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>电波</title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>
<!--
       生成图片的宽度
    -->
<w>
    1350
</w>
<div>
    <div class="card">
        <div class="card-layer">
            <div class="nighTwave">

                <h1>电波</h1>
				<h3>---每日挑战---</h3>
				<div th:each="d:${nigh.daily}">
				<p class="day" th:text="${d.desc} + '('+${d.reputation} + ')'"></p>
				</div>
				<h3>---每周挑战---</h3>
				<div th:each="w:${nigh.week}">
					<p class="week" th:text="${w.desc} + '('+${w.reputation} + ')'"></p>
				</div>
				<h3>---精英挑战---</h3>
				<div th:each="e:${nigh.elite}">
					<p class="week" th:text="${e.desc} + '('+${e.reputation} + ')'"></p>
				</div>
            </div>

        </div>

    </div>
</div>
</body>
</html>
